@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../assets/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype-variations');
  font-weight: 200 800;
  font-stretch: 75% 100%;
  font-display: swap;
}
